<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Napište nám</h2>
    <form method="get">
        <label for="email">Email</label> <br>
        <input type="text" id="email" name="email"> <br> <br>

        <label for="message">Zpráva: </label> <br>
        <textarea name="message" id="message"></textarea> <br>

        <button>Odeslat</button>
    </form>
</body>
</html>